.homepageFull {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: auto;
  max-height: max-content;
  padding: 2em 7em 0;
}

.bulletpoints {
  text-align: left;
  margin: 0 0 1em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.duoname {
  display: flex;
  flex-direction: column;
  font-family: "Libre Caslon Display";
  font-size: 5em;
  line-height: 1.3;
  white-space: pre-wrap;
  padding-top: 0.5em;
  padding-left: 0.2em;
  margin-bottom: 0;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
}

.duoname span {
  color: var(--primary-highlight);
}

.duoname hr {
  margin-top: 10em;
}

.blurb {
  margin-top: 0 auto;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  text-align: left;
  padding: 0 1em;
}

.dm_homepage_photo {
  margin-top: 2em;
  margin-bottom: 2em;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  justify-self: end;
  max-height: 90vh;
  max-width: 100%;
}

@media screen and (max-width: 1100px) {
  .homepageFull {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: max-content;
    padding: 1em;
    margin: 0;
    text-align: center;
    justify-content: center;
    height: auto;
  }

  .duoname {
    font-size: 4em;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    gap: 0.2em;
    margin: auto;
    transform: translate(-0.2em, 0);
  }

  .homepageFull hr {
    margin: 0 auto;
  }

  .dm_homepage_photo {
    margin-top: 2em;
    max-height: 800px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    justify-self: center;
  }

  .bulletpoints {
    margin: 2em 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: span 1;
  }

  .blurb {
    margin: 0 auto;
    grid-row-start: 4;
  }
}

@media screen and (max-width: 700px) {
  .duoname {
    font-size: 3em;
  }
}
@media screen and (max-width: 360px) {
  .duoname {
    font-size: 2em;
  }
}
