.contact {
  padding: 2em 7em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a {
  color: var(--secondary-highlight);
}

.socials i {
  color: var(--primary-highlight);
  font-size: 4em;
  padding-right: 0.3em;
  transition: all 0.5s ease;
}

.socials i:hover {
  color: var(--secondary-highlight);
  scale: 1.05;
}

.contactimage {
  max-width: 50%;
  justify-self: flex-end;
}

.contactimage img {
  max-height: 100vh;
}

.qrcode {
  display: block;
  max-width: 10em;
  margin: 1em 0;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .contact {
    padding: 1em;
    grid-template-columns: 1fr;
  }
  .contactimage {
    max-width: 100%;
    max-height: 800px;
    justify-self: center;
  }

  .socials i {
    font-size: 3em;
  }
}
