nav {
  background-color: var(--grey);
  margin: 1em 2em;
  font-family: "Libre Caslon Display";
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
}

nav ul li {
  text-transform: uppercase;
  list-style: none;
}
