@import url(https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Linden+Hill:ital@0;1&display=swap);

#root {
  --black: #0d1321;
  --white: #faf9f5;
  --primary-highlight: #a79a27;
  --grey: rgba(217, 217, 217, 0.99);
  --secondary-highlight: #e56399;
}

body {
  font-family: "Linden Hill";
  font-size: 18px;
}

section {
  background-color: var(--white);
  color: var(--black);
  max-width: 1800px;
  margin: auto;
}

h1,
h2 {
  font-family: "Libre Caslon Display", monospace;
  font-weight: 400;
}

h2 {
  font-size: 1.8em;
}
p {
  margin: 1em 0;
}

hr {
  width: 80%;
  margin: 2em auto 2em;
  fill: var(--primary-highlight);
  border: 1px solid var(--primary-highlight);
}

.star {
  color: var(--primary-highlight);
  transform: translate(-1em);
}

ul {
  list-style-type: none;
  list-style-position: outside;
  /* padding-left: 2em; */
}

li {
  text-indent: -1em;
}
