@import url(https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Linden+Hill:ital@0;1&display=swap);

#root {
  --black: #000000;
  --white: #ffffff;
  --primary-highlight: #a79a27;
  --grey: rgba(217, 217, 217, 0.329);
  --secondary-highlight: #e56399;
}

body {
  font-family: "Linden Hill";
  font-size: 18px;
}

h1,
h2 {
  font-family: "Libre Caslon Display", monospace;
  font-weight: 400;
}

h2 {
  font-size: 1.8em;
}
p {
  margin: 1em 0;
}
