.videopage {
  padding: 2em 7em 0em;
  margin-top: 0;
}

.videopage hr {
  margin-top: 1em;
}

h2 span {
  color: var(--primary-highlight);
}
.acoustic {
  display: grid;
  grid-template-columns: auto auto;
}

.acousticvideo {
  align-content: center;
}

.acousticvideo iframe {
  width: 560px;
  /* max-width: 700px; */
  height: 315px;
  /* max-height: 400px; */
  /* width: auto;
  height: auto; */
}

.acousticdescription {
  padding-left: 2em;
}

.electric {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-items: center;
}

.electricvideo {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  align-content: center;
}

.electricvideo iframe {
  width: 560px;
  height: 315px;
}

.electricdescription {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  padding-right: 2em;
}

@media screen and (max-width: 1100px) {
  .videopage {
    padding: 1em;
  }
  .acoustic {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
  }

  .acousticvideo,
  .electricvideo {
    align-self: center;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    align-content: center;
  }

  .acousticvideo iframe,
  .electricvideo iframe {
    width: 100%;
  }

  .electric {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
  }

  .acousticdescription,
  .electricdescription {
    padding: 0;
  }
}
